__pycache__/
*.pyc
backend/database/utube.db
storage/
.env
node_modules/
dist/
venv/
# CodeQL Local Scans
codeql-db/
guvenlik-raporu.csv
backend/database/.db-shm
backend/database/.db-wal
backend/database/utube.db-wal
backend/database/utube.db-wal
backend/database/utube.db-shm
